developing-ml-workflow/MyStateMachine-cczqxd8zq.asl.yaml
Comment: A description of my state machine
StartAt: serializeImageData
States:
  serializeImageData:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    OutputPath: $.body
    Parameters:
      Payload.$: $
      FunctionName: >-
        arn:aws:lambda:us-east-1:372206764755:function:serializeImageData:$LATEST
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
          - Lambda.TooManyRequestsException
        IntervalSeconds: 1
        MaxAttempts: 3
        BackoffRate: 2
    Next: classifyEncodedImg
    InputPath: $.body
  classifyEncodedImg:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    OutputPath: $.body
    Parameters:
      Payload.$: $
      FunctionName: >-
        arn:aws:lambda:us-east-1:372206764755:function:classifyEncodedImg:$LATEST
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
          - Lambda.TooManyRequestsException
        IntervalSeconds: 1
        MaxAttempts: 3
        BackoffRate: 2
    Next: filterConfidenceInferences
    InputPath: $.body
  filterConfidenceInferences:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    OutputPath: $.Body
    Parameters:
      Payload.$: $
      FunctionName: >-
        arn:aws:lambda:us-east-1:372206764755:function:filterConfidenceInferences:$LATEST
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
          - Lambda.TooManyRequestsException
        IntervalSeconds: 1
        MaxAttempts: 3
        BackoffRate: 2
    End: true
    InputPath: $.Body
